// -----------------------------------------------------------
// Mixins - Media Queries and Flexbox Settings
// -----------------------------------------------------------

// Flexbox settings mixins ----- purpose is to flex direction on .grid__row

@mixin flexy($col-row) {
  display: flex;
  flex-direction: $col-row;
}

// Media queire mixins ----- Check _variables.scss for breakpoint map -----
// $break should be filled out as a string value from the $breakpoints table found in _variables.scss -----

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $med: map-get($breakpoints, "med");

  @if $value < $med {
    @media (max-width: "med") {
      @content;
    }
  } @else {
    @media (min-width: "med") {
      @content;
    }
  }
}

// Button Mixin -----

@mixin btn($bc) {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  border: none;
  background-color: $bc;
}

// GRID LAYOUT MIXINS ----- includes grid system mixin for grid styling, and function that creates each node in rows

@mixin gridsys($bc) {
  background-color: $bc;
}

@for $i from 1 through 12 {
  .grid__col--#{$i}.theme__colors {
    @if ($i == 12) {
      @include gridsys($gcb12);
      flex: 1;
    } @else if ($i == 6) {
      @include gridsys($gcb6);
      flex: 1;
    } @else if ($i == 4) {
      @include gridsys($gcb4);
      flex: 1;
    } @else if ($i == 3) {
      @include gridsys($gcb3);
      flex: 4;
    } @else if ($i == 5) {
      @include gridsys($gcb5);
      flex: 1;
    } @else if ($i == 7) {
      @include gridsys($gcb7);
      flex: 1.4;
      @include mq("med") {
        max-width: 58.33333333%;
      }
    } @else if ($i == 8) {
      @include gridsys($gcb8);
      flex: 2;
    }
  }
}
