// -----------------------------------------------------------
// Variables - Fonts, breakpoints, colors
// -----------------------------------------------------------

// Fonts ---------------------------------
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$font-stack-primary: "Open Sans", sans-serif;

// Colors - Layout -----------------------

$color-background: rgb(255, 255, 255);
$color-trim: rgb(127, 222, 194);

// Color - Fonts -------------------------
$color-font-default: rgb(128, 128, 128);
$color-font-headline: rgb(127, 222, 194);
$color-font-link: rgb(123, 220, 248);

// Color - Navigation and Buttons --------
$color-nav-default: rgb(98, 98, 98);
$color-nav-hover: rgb(255, 255, 255);

// Grid Colors ---------------------------

$gcb3: rgb(215, 181, 234);
$gcb4: rgb(151, 228, 250);
$gcb5: rgb(154, 214, 165);
$gcb6: rgb(93, 169, 199);
$gcb7: rgb(255, 162, 164);
$gcb8: rgb(240, 163, 138);
$gcb12: rgb(153, 229, 210);

// Breakpoints ----------------------------
$breakpoints: (
  "sm": 575px,
  "med": 768px,
  "lg": 1200px
);

// Buttons -------------------------------
$color-map: (
  default: rgb(121, 219, 248),
  success: rgb(126, 201, 137),
  error: rgb(214, 123, 125),
  warning: rgb(237, 127, 95),
  info: rgb(142, 125, 188)
);

//OLD CODE
// $btn--default: rgb(121, 219, 248);
// $btn--success: rgb(126, 201, 137);
// $btn--error: rgb(214, 123, 125);
// $btn--warning: rgb(237, 127, 95);
// $btn--info: rgb(142, 125, 188);

// Generic Colors
$white: white;

// Borders
$brd-rad: 0.35em;
$brd-ful: none;

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;
