// -----------------------------------------------------------
// Flexbox ----
// -----------------------------------------------------------

// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors

.container {
}

.grid {
  &__row {
    margin-bottom: 2em;
    @include flexy(column);
    @include mq("med") {
      @include flexy(row);
    }
  }

  &__col {
    @include g-columns;
  }

  &__col--7 {
    &.centered {
      @include mq("med") {
        margin: 0 auto;
      }
    }
  }
  &__col--12 {
    @include mq("med") {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
