// -----------------------------------------------------------
// Navigation ----
// -----------------------------------------------------------

// .nav__item

.nav {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
  &__item {
    a {
      transition-duration: 0.5s;
      text-decoration: none;
      padding: 1em 1.5em;
      border-radius: $brd-rad;
      display: block;
      &:hover {
        color: $white;
        background-color: $color-trim;
      }
    }
  }
}
