// -----------------------------------------------------------
// Typography ----
// -----------------------------------------------------------

//     .container
//     .link
//     .blockquote
//     .headline--primary
//     .headline--secondary

.container {
  margin: 2em 2em;
  text-align: center;
}

.link {
  list-style: none;
}

.blockquote {
  text-align: left;
}
