// -----------------------------------------------------------
// Base - Universal selector, ul and p elements ----
// -----------------------------------------------------------

* {
  font-family: $font-stack-primary;
}

p {
  text-align: left;
}

h1 {
  text-align: left;
}

h4 {
  text-align: left;
}
