// -----------------------------------------------------------
// Base - Universal selector, ul and p elements ----
// -----------------------------------------------------------

* {
  font-family: $font-stack-primary;
  color: $color-font-default;
}

p {
  text-align: left;
  line-height: 1.5;
}

h1 {
  text-align: left;
}

h4 {
  text-align: left;
}
